@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Twitter:</strong>   <a href="https://twitter.com/OnurYurteri">@@OnurYurteri</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/onuryurteri/">Onur Yurteri</a><br />
    <strong>Mail:</strong> <a href="mailto:yurterionur@gmail.com">yurterionur@gmail.com</a>
</address>